InduFixDemo/force-app/main/default/flows/Get_Case_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>No_Comments_for_Prompt</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>No Comments for Prompt</label>
        <locationX>284</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>The case has no comments to summarize.
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Send_Comments_to_Prompt</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Send Comments to Prompt</label>
        <locationX>156</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Summarize the case&apos;s comments using {!Loop_Over_Case_Comments.CommentBody}
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Case_Comments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Comments Found?</description>
        <name>Comments_Found</name>
        <label>Comments Found?</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_Comments_for_Prompt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Case_Comments</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Case_Comments</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Get Case Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Case Summary</label>
    <loops>
        <description>Loop Over Case Comments</description>
        <name>Loop_Over_Case_Comments</name>
        <label>Loop Over Case Comments</label>
        <locationX>68</locationX>
        <locationY>350</locationY>
        <collectionReference>Fetch_Case_Comments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Comments_to_Prompt</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <description>Fetch Case Comments</description>
        <name>Fetch_Case_Comments</name>
        <label>Fetch Case Comments</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Comments_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Input.RelatedEntity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseComment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <capabilityTypes>
            <name>PromptTemplateType://einstein_gpt__fieldCompletion</name>
            <capabilityName>PromptTemplateType://einstein_gpt__fieldCompletion</capabilityName>
            <inputs>
                <name>RelatedEntity</name>
                <capabilityInputName>RelatedEntity</capabilityInputName>
                <dataType>SOBJECT://Case</dataType>
                <isCollection>false</isCollection>
            </inputs>
        </capabilityTypes>
        <connector>
            <targetReference>Fetch_Case_Comments</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
</Flow>
